.title{
    border-bottom: 1px solid rgb(68, 68, 68);
    padding: 20px 0;
    width: 100%;
    margin-left: 16px;
    margin-bottom: 20px; 
}

#generateBox {
    width 90%;
    height:200px;
    border: 1px dotted red;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    padding: 16px;
}

